body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: gray;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 308px;
}

nav{
    margin-bottom: 24px;
}

#newBoard {
    width: 50px;
    height: 50px;
    margin-top: 85px;
    padding: 25px;
    border-radius: 50%;
    background-color: white;
}

#newBoardIcon{
    position: absolute;
    top: 18px;
    right: 1px;
    left: 2px;
}

.card {
    width: 24rem;
    margin: 12px;
}

.fa-trash-alt, .fa-trash-o, .fa-lock, .fa-unlock {
    border-radius: 5px;
    padding: 5px;
}


.fa-trash-o:hover, .fa-trash-alt:hover, .fa-unlock:hover, .fa-lock:hover {
    background-color: lightgray;
    transition: .3s;

}

footer {
    color: lightgray;
}

textarea{
    width: 22rem;
    column-count: 80;
    outline: none;
    min-height: 200px;
    border: none;
    overflow: auto;
    resize: none;
    padding: 0;
}

