@{
    ViewBag.Title = "Home Page";
}

@model TaskBoard.Models.BoardViewModel

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="groupSelection">Group: </label>
    </div>
    <select class="custom-select" id="groupSelection">
        @foreach (var group in Model.Groups)
        {
            <option>@Html.DisplayFor(item => group.Name)</option>
        }
    </select>
</div>

<div class="row">
    @foreach (var board in Model.Boards)
    {
        <div class="card">
            <div class="card-header">
                <span class="h4 card-title">@Html.DisplayFor(item => board.Title)</span>
                <span name="lockIcon"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Click to unlock" class="fa fa-2x fa-lock pull-right"></span>
                <span name="unlockIcon"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Click to lock"
                      class="fa fa-2x fa-unlock pull-right"></span>
            </div>
            <div class="card-body">
                <p contenteditable="true" class="card-text">@Html.DisplayFor(item => board.Body)</p>
                <span data-toggle="tooltip"
                      data-placement="top"
                      title="Delete board"
                      class="fa fa-2x fa-trash-o text-danger pull-right">
                </span>
            </div>
        </div>
    }


</div>